.card {
    width: 920px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}