.card {
    max-width: 920px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin: 0 3rem;
    box-shadow: 0px 20px 20px -10px #00000054;
}

.small-box {
    position: absolute;
    transform: translate(-92px, 50px);
}

@media (max-width: 900px) {
    .card {
        grid-template-columns: 1fr;
        max-width: 350px;
        overflow: visible;
        margin: 10rem 15px 3rem 15px;
    }

    .small-box {
        display: none;
    }
}