.illustration {
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
    transform: translate(-83px, 0);
}

.bg {
    position: absolute;
    transform: translate(-498px, -69px);
    z-index: -10;
}


@media (max-width: 900px) {
    .illustration {
        transform: translate(15%, -112px);
        /* width: 70%; */
        height: 140px;
    }

    .bg {
        transform: translate(0px, 94px);
    }

    .woman {
        width: 70%;
    }
}