.question-block::after {
    display: block;
    content: '';
    /* width: 100%; */
    z-index: 1;
    border: 1px solid var(--divirder-clr);
    height: 1px;
    margin: 0.8rem 0;
    /* position: absolute; */
    background-color: var(--divider-clr);
}

/* .question-block { */
    /* margin: 1rem 0; */
    /* border-bottom: 1px solid var(--divider-clr); */
    /* display: grid;
    grid-auto-columns: 1fr min-content;
    grid-auto-rows: 1fr min-content; */
/* } */

.question {
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 1rem;
    transition: all 0.1s ease-in-out;
    color: var(--tx-v-dark-blue);
}

.question:hover {
    color: var(--tx-red);
}

.question.shown{
    /* transition: font-weight 0.2s ease-in-out; */
    font-weight: var(--fw-bold);
}

.caret {
    /* grid-row: 1 / -1; */
    transition: all 0.1s ease-in-out;
}

.question.shown > .caret {
    transform: rotate(180deg);
}


.shown {
    max-height: 200px!important;
    transition: all 0.4s ease-in-out;
}

.answer {
    /* transition: all 0.4s ease-in-out; */
    color: var(--tx-dark-blue);
    max-height: 0px;
    overflow: hidden;
    line-height: 1.5;
    letter-spacing: 1;
    width: 90%;
}